@charset "utf-8";
/*
基本
================================================ */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*
基本
================================================ */
.card {
    max-width: 520px;
    margin: 18px auto;
    border-radius: 0.5rem;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}
h1 {
    text-align: center;
}
#min,
#max,
#text {
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
}
.limit {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 0.5rem 0;
}
#min,
#max {
    width: 50%;
}
#text {
    display: block;
    width: 100%;
    height: 20rem;
    margin: 0.35rem auto;
    padding: 0.3rem 0.6rem;
}
